{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">Acerca de nosotros.</h3>
    <p>Bienvenidos a "Misterio y Pluma", un espacio nacido en marzo de 2024 dedicado a la exploración de las
        profundidades del género policial e investigativo a través de aportaciones literarias que cautivan y desafían la
        mente. Aquí, cada historia es un laberinto y cada artículo, una puerta que se abre a los misterios más
        intricados.</p>

    <p>En "Misterio y Pluma", nos sumergimos en el arte de la narrativa de misterio, desde los clásicos imperecederos
        hasta las voces emergentes que están redefiniendo el género. Nuestra misión es ofrecer a los aficionados y
        eruditos por igual, un lugar donde la literatura policial no solo se presenta, sino que se analiza y se vive.
    </p>

</div>

{% endblock content %}